<template name="questionlist">
    <!-- <div class="modal-menu modal-menu-dark active-modal-menu">
    <a class="active-modal-item" href="index.html"><i class="fa fa-home"></i><em>Home</em><i class="fa fa-circle"></i></a>
    <a href="features-typography.html"><i class="fa fa-cog"></i><em>Features</em><i class="fa fa-circle"></i></a>
    <a href="portfolio-one.html"><i class="fa fa-image"></i><em>Portfolio</em><i class="fa fa-circle"></i></a>
    <a href="gallery-round.html"><i class="fa fa-camera"></i><em>Galleries</em><i class="fa fa-circle"></i></a>
    <a href="page-soon.html"><i class="fa fa-file-o"></i><em>Pages</em><i class="fa fa-circle"></i></a>
    <a href="pageapp-login.html"><i class="fa fa-mobile"></i><em>AppStyled</em><i class="fa fa-circle"></i></a>
    <a href="page-contact.html"><i class="fa fa-envelope-o"></i><em>Contact</em><i class="fa fa-circle"></i></a>
  
</div> -->
    <div class="content-strip">
        <div class="strip-content">
            <h4>Polls</h4>
            <p>Add and review your polls</p>
            <i class="fa fa-pencil"></i>
        </div>
        <div class="overlay"></div>
       <!--  <img class="preload-image" data-original="../images/worldgreybg.jpg" alt="img" style="background:repeat;"> -->
    </div>
    <div style="width:100%; background-color:#161616;">
        <!-- transform: translateX(-250px); -->
        <!--active-submenu-->
        <a href="#" class="sidebar-logo"></a>
        <a class="menu-item close-submenu listitems" href="#">
            <i class="fa fa-level-up"></i> Back to Menu
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="menu-item listitems listitems" href="index-classic.html">
            <i class="fa fa-home"></i> Classic Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item listitems" href="index-cover.html">
            <i class="fa fa-picture-o"></i> Cover Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item listitems" href="index-circle.html">
            <i class="fa fa-circle-o"></i> Circle Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-no-slider.html">
            <i class="fa fa-list-ul"></i> No Slider
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-store.html">
            <i class="fa fa-shopping-cart"></i> Store Front
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-news.html">
            <i class="fa fa-newspaper-o"></i> News Front
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item active-item active-submenu-history" href="index-splash.html">
            <i class="fa fa-eye"></i> Splash Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-login.html">
            <i class="fa fa-user"></i> Login Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-register.html">
            <i class="fa fa-code"></i> Register Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-landing.html">
            <i class="fa fa-th"></i> Landing Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item" href="index-soon.html">
            <i class="fa fa-clock-o"></i> Soon Page
            <i class="fa fa-circle"></i>
        </a>
        <a class="menu-item close-submenu" href="#">
            <i class="fa fa-level-up"></i> Back to Menu
            <i class="fa fa-angle-left"></i>
        </a>
    </div>
    <div class="material-menu material-menu-right material-menu-dark">
        <a href="#" class="material-menu-deploy " style="z-index: 999;">
            <i class="fa fa-ellipsis-v bg-red-dark"></i>
        </a>
        <a href="#" class="material-menu-close">
            <em class="material-label">Close</em>
            <i class="fa fa-times bg-red-dark scale-hover"></i>
        </a>
        <a href="features-typography.html" class="material-menu-1">
            <em class="material-label">Features</em>
            <i class="fa fa-cog bg-orange-dark scale-hover"></i>
        </a>
        <a href="page-soon.html" class="material-menu-2">
            <em class="material-label">Pages</em>
            <i class="fa fa-file-o bg-yellow-dark scale-hover"></i>
        </a>
        <a href="pageapp-login.html" class="material-menu-3">
            <em class="material-label">AppStyled</em>
            <i class="fa fa-mobile bg-magenta-dark scale-hover"></i>
        </a>
        <a href="portfolio-one.html" class="material-menu-4">
            <em class="material-label">Portfolios</em>
            <i class="fa fa-image bg-green-dark scale-hover"></i>
        </a>
        <a href="gallery-round.html" class="material-menu-5">
            <em class="material-label">Galleries</em>
            <i class="fa fa-camera bg-teal-dark scale-hover"></i>
        </a>
        <a href="page-contact.html" class="material-menu-6">
            <em class="material-label">Add Poll</em>
            <i class="fa fa-plus-circle bg-blue-dark scale-hover"></i>
        </a>
    </div>
</template>
