<template name="contactlist">

           <div class="content-strip">
            <div class="strip-content">
                <h4>Userlist Page</h4>
                <p>User updates and more!</p>
                <i class="fa fa-user"></i>
            </div>
            <div class="overlay"></div>
            <img class="preload-image" data-original="../images/worldgreybg.jpg" alt="img" style="background:repeat;">
        </div>
        
        <div class="content">   
            <div class="decoration"></div>
            <div class="one-half-responsive">
                <div class="user-item">
                   <a href="/userprofile"><img class="user-item-image preload-image" data-original="images/pictures/1t.jpg" alt="img"></a>
                    <h5>John Doe</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 bg-green-dark scale-hover"><i class="fa fa-check"></i></a>
                    <a href="#" class="user-item-icon-2 bg-red-dark scale-hover"><i class="fa fa-times"></i></a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/2t.jpg" alt="img">
                    <h5 class="">Alex Well</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 facebook-color scale-hover"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="user-item-icon-2 twitter-color scale-hover"><i class="fa fa-twitter"></i></a>
                </div>                
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/3t.jpg" alt="img">
                    <h5>Max Jack</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 google-color scale-hover"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="user-item-icon-2 facebook-color scale-hover"><i class="fa fa-facebook"></i></a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/4t.jpg" alt="img">
                    <h5>Dan Jim</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 phone-color scale-hover"><i class="fa fa-phone"></i></a>
                    <a href="#" class="user-item-icon-2 mail-color scale-hover"><i class="fa fa-envelope-o"></i></a>
                </div>            
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/5t.jpg" alt="img">
                    <h5>Man Ted</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-3 bg-green-dark scale-hover">Follow</a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/6t.jpg" alt="img">
                    <h5>Man Ted</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-3 bg-red-dark scale-hover">Delete</a>
                </div>    
                 <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/3t.jpg" alt="img">
                    <h5>Max Jack</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 google-color scale-hover"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="user-item-icon-2 facebook-color scale-hover"><i class="fa fa-facebook"></i></a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/4t.jpg" alt="img">
                    <h5>Dan Jim</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 phone-color scale-hover"><i class="fa fa-phone"></i></a>
                    <a href="#" class="user-item-icon-2 mail-color scale-hover"><i class="fa fa-envelope-o"></i></a>
                </div>            
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/5t.jpg" alt="img">
                    <h5>Man Ted</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-3 bg-green-dark scale-hover">Follow</a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/6t.jpg" alt="img">
                    <h5>Man Ted</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-3 bg-red-dark scale-hover">Delete</a>
                </div>    
                 <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/3t.jpg" alt="img">
                    <h5>Max Jack</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 google-color scale-hover"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="user-item-icon-2 facebook-color scale-hover"><i class="fa fa-facebook"></i></a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/4t.jpg" alt="img">
                    <h5>Dan Jim</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-1 phone-color scale-hover"><i class="fa fa-phone"></i></a>
                    <a href="#" class="user-item-icon-2 mail-color scale-hover"><i class="fa fa-envelope-o"></i></a>
                </div>            
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/5t.jpg" alt="img">
                    <h5>Man Ted</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-3 bg-green-dark scale-hover">Follow</a>
                </div>             
                <div class="user-item">
                    <img class="user-item-image preload-image" data-original="images/pictures/6t.jpg" alt="img">
                    <h5>Man Ted</h5>
                    <em>New York, United States.</em>
                    <a href="#" class="user-item-icon-3 bg-red-dark scale-hover">Delete</a>
                </div>    
            </div>
            <div class="decoration hide-if-responsive"></div>
          

            <div class="decoration"></div>
        </div>
</template>