<template name="thankyou">
   <!--  <div class="splash-screen cover-screen container-fullscreen no-bottom" style="background-image:url(../images/worldgreybg.jpg);"> -->
   <div class="splash-screen cover-screen container-fullscreen no-bottom" style=" background-image:url(../images/worldgreybg.jpg);"> -->
        <div class="splash-content">
            <a href="#" class="splash-logo scale-hover"><img class="preload-image" data-original="../images/preload-logo.png" alt="img"></a>
            <h4>Poll<strong class="color-red-light">Booth</strong></h4>
            <!--  <h5>Mobile & Web Poll App</h5> -->
            <p>
                Thank you for Registraion, kindly check your email to activate your account.
            </p>
            <a class="splash-button" href="/login">Get started</a>
        </div>
        <div class="overlay"></div>
        </div>
    <!-- </div> -->
   
</template>