<template name="home">
<!--Social Share Items. Leave at the bottom -->
<div class="landing-homepage">
<div class="landing-dark">
    <div class="landing-wrapper">
    <!--     <div class="landing-header no-bottom">
            <a class="landing-header-logo" href="#">JustMobile</a>
            <div class="landing-header-icons">
                <a class="bg-green-dark show-share-bottom" href="#"><i class="fa fa-share"></i></a>
                <a class="twitter-color" href="#"><i class="fa fa-twitter"></i></a>
                <a class="facebook-color" href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div> -->
        <div class="content no-bottom"><div class="deco"></div></div>
        <!-- Left Top Menu -->
        <ul>
           
            <li>
                <a href="/polllist">
                    <i class="fa fa-pencil bg-night-dark"></i>
                    <em>Polls</em>
                </a>
            </li>              
            <li>
                <a href="/contactlist"> 
                    <i class="fa fa-user  bg-green-dark"></i>
                    <em>Contacts</em>
                </a>
            </li>        
            <li>
                <a href="/grouplist">
                    <i class="fa fa-users bg-blue-dark"></i>
                    <em>Groups</em>
                </a>
            </li>     
              <li>
                <a href="contact.html">
                    <i class="fa fa-envelope-o bg-blue-dark"></i>
                    <em>Messages</em>
                </a>
            </li>   
            <li>
                <a href="portfolio-one.html">                  
                    <i class="fa fa-question-circle bg-magenta-dark"></i>
                    <em>My Questions</em>
                </a>
            </li>        
            <li>
                <a href="pageapp-coverpage.html">                  
                    <i class="fa fa-pie-chart bg-orange-dark"></i>
                    <em>Poll Results</em>
                </a>
            </li>        
            <li>
                <a href="page-soon.html">                   
                    <i class="fa fa-wrench bg-teal-dark"></i>
                    <em>Settings</em>
                </a>
            </li>        
            
            <li>
                <a class="change-landing-color" href="#">
                    <i class="fa fa-phone bg-red-light "></i>
                    <em>Call Us</em>
                </a>
            </li>       
          
        </ul>    
        <div class="clear"></div>

      
    </div>

    <div class="landing-overlay"></div>
    <div class="landing-background"></div>
</div>
</div>



<div class="footer-clear disabled"></div>    
<div class="footer-menu footer-menu-dark">
    <a href="index.html" class="footer-menu-item active-footer-item"><i class="fa fa-home"></i><em>Home</em></a>
    <a href="features-typography.html" class="footer-menu-item"><i class="fa fa-cog"></i><em>Features</em></a>
    <a href="page-soon.html" class="footer-menu-item"><i class="fa fa-file-o"></i><em>Polls</em></a>
    <a href="pageapp-login.html" class="footer-menu-item"><i class="fa fa-mobile"></i><em>Contacts</em></a>
    <a href="page-contact.html" class="footer-menu-item"><i class="fa fa-envelope-o"></i><em>Group</em></a>
</div>

</template>