<template name="addpoll">
    <div class="cover-page-content">
        <div class="pageapp-login">
            <a href="#" class="pageapp-login-logo"></a>
            <div class="spacer"></div>

            <form>
                <div class="cover-field">
                    <i class="fa fa-user"></i>
                    <input type="text" value="Username" required>
                </div>
                <div class="cover-field full-bottom">
                    <i class="fa fa-lock"></i>
                    <input type="password" value="passswordhere" required>
                </div>
                <!--   <a id="btnlogin" type="submit" class="pageapp-login-button button button-green"><i class="fa fa-arrow-right"></i>Login</a> -->
                <button id="btnlogin" class="pageapp-login-button button button-green"> <i class="fa fa-arrow-right"></i>Save & Add Questionaires</button>
            </form>


            
        </div>
    </div>
    <div class="cover-buttons">
        <a class="cover-button-left" href="page-login.html"><i class="space-right fa fa-file-o"></i>Page Version</a>
        <a class="cover-button-right" href="/register">Create account?<i class="space-left fa fa-code"></i></a>
    </div>
</template>
