<template name="polldetail">

    <div class="content-fullscreen" style="background-color:#161616;">
       <div class="page-profile">
            <div class="page-profile-header">
               <!--  <a href="images/pictures/5.jpg" class="show-gallery" title="Profile Image!"> -->
              <!--   <img data-original="images/pictures/5t.jpg" class="preload-image" alt="img"> -->

                <!-- </a> -->
                <h3>PollName</h3>
                <em><i class="fa fa-location-arrow"></i>Poll description</em>
              
               <!--  <div class="follow-buttons">
                    <a href="#">Mail</a>
                    <a href="#">Call</a>
                </div> -->
           </div>
        </div>
    </div>


    <div class="content" style="background-color:#161616;">
            <div class="page-profile">
                <div class="page-profile-followers">
                    <a href="#" style="color:#ffffff;">                      
                        <i class="fa fa-question-circle " style="color:#ffffff;"></i> 25 Questions
                    </a>
                   <a href="#" style="color:#ffffff;">                       
                       <i class="fa fa-user " style="color:#ffffff;"></i>29 Participant
                    </a>
                    <a href="#" style="color:#ffffff;">                      
                        <i class="fa fa-envelope-o " style="color:#ffffff;"></i>13 Comments
                    </a>

                </div>

                <div class="decoration"></div>

                <div class="container no-bottom">
                    <div class="sidebar-left-small">
                       <!--  <img data-original="images/pictures/1.jpg" class="preload-image responsive-image half-bottom" alt="img"> -->
                        <h4 class="no-bottom">Sarah Connor</h4>
                        <p>Professional Freelancer</p>
                        <div class="decoration"></div>
                        <ul class="font-icon-list">
                            <li><a href="#"><i class="fa fa-phone"></i>+ 1 234 556 887</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>mail@domain.com</a></li>
                            <li><a href="#"><i class="fa fa-dollar"></i>Min. Budget: $500</a></li>
                            <li><a href="#"><i class="fa fa-clock-o"></i>Available 24/7</a></li>
                            <li><a href="#"><i class="fa fa-location-arrow"></i>521 King Street, Melbourne Australia</a></li>
                        </ul>
                        <br>
                    </div>
                    <div class="decoration hide-if-responsive"></div>
                    <div class="sidebar-right-big">
                        <h4>About Sarah</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere 
                            convallis urna id mollis. Maecenas justo tellus, tristique vel dignissim non, 
                            pharetra vitae magna.
                        </p>
                        <div class="sidebar-left-small">
                            <h4>Skills</h4>
                            <ul>
                                <li>Front End Coding</li>
                                <li>Back End Coding</li>
                                <li>UI / UX Design </li>
                                <li>WordPress Coding</li>
                                <li>HTML 5 Coding</li>
                                <li>CSS 3 Coding</li>
                            </ul>
                        </div>
                        <div class="sidebar-right-big">
                            <h4>Recommandations</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere 
                                convallis urna id mollis. Maecenas justo tellus, tristique vel dignissim non, 
                                pharetra vitae magna. Maecenas justo tellus, tristique vel dignissim non, 
                                pharetra vitae magna.
                            </p>
                        </div>
                        <div class="clear"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque posuere 
                            convallis urna id mollis. Maecenas justo tellus, tristique vel dignissim non, 
                            pharetra vitae magna. Nunc mattis pretium dictum. In aliquam lacus est, eu 
                            vestibulum arcu ultrices sed.Nunc mattis pretium dictum. In aliquam lacus est, eu 
                            vestibulum arcu ultrices sed. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
</template>