<template name="surveyQlist">
   <div class="content-strip">
            <div class="strip-content">
                <h4>Grouplist Page</h4>
                <p></p>
                <i class="fa fa-check"></i>
            </div>
            <div class="overlay"></div>
            <img class="preload-image" data-original="images/pictures/1.jpg" alt="img">
        </div>

             <div class="content">
            <div class="decoration"></div>
        
            <div class="container no-bottom">
                <div class="">
                    <h4>Tasklists with multiple colors.</h4>
                    <p>
                        The oldschool design of tasklists with green and grey for completed
                        like most native mobile applications offer
                    </p>
                    <a href="#" class="tasklist-item tasklist-red tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Prepare a Design</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-green">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Mobiles</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-blue tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Optimize for Tablets</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-magenta">
                        <i class="fa fa-check"></i>
                        <h5>Use latest Trends</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-orange">
                        <i class="fa fa-check"></i>
                        <h5>Design  User Experience</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-yellow">
                        <i class="fa fa-check"></i>
                        <h5>Use Simple Coding</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-gray">
                        <i class="fa fa-check"></i>
                        <h5>Document for Everyone</h5>
                    </a>                    
                    <a href="#" class="tasklist-item tasklist-dark tasklist-completed">
                        <i class="fa fa-check"></i>
                        <h5>Upload to ThemeForest</h5>
                    </a>
                    <div class="decoration"></div>
                </div>
       
            </div>

            <div class="decoration"></div>
        </div>
</template>